*{ 
    margin: 0;
    padding: 0;

}
body{
    width: 100%;
}
.container {    
    background-color: #3498db;
    padding: 0%;
    margin: 0;
    
}
.menu{  
    height: 120px;
    background-color: rgb(39, 136, 225);
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    display: flex;
    align-items: center;
    
}
.logo{
    width: 250px;
}
.cabecalho{
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 00px;
}
.left h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 1.5rem;   

}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mocap{
    width: 80%;
    max-width: 550px;
}

.ocasiao{
    background-color: white;
    width: 100%;
    text-align: center;
}

.ocasiao h2{
    font-size: 50px;
    margin: 30px;
    color: rgb(71, 28, 111);
    letter-spacing: .2rem;
}

.ocasiao p{
    font-size: 1.3rem;
    margin: 30px;
    letter-spacing: .1rem;
}
.ocasioes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ocasioes {
    margin: 20px;
}
.ocasioes div{
    margin-right: 10px;
    margin-left: 10px;
}
.ocasioes img{
    width: 200px;
    border-radius: 40px;
}

.vantagens{
    background-color: #23648c;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.vantagens .teste{
    width: 300px;
    margin-top: 60px;
}
.titleVantagens{
    display: flex;
    justify-content: center;
}
.titleVantagens h2{
    background-color: #23648c;
    color: white;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
    text-align: center;

}
.titleVantagens h3{
    display: flex;
    align-items: center;
    font-weight: 500;
}
.titleVantagens img{
    width: 80px;
}
.vantagens p{
    text-align: center;
    margin: 15px;
}

#interativo{
    border: 4px solid white;
    border-radius: 50%;
    width: 65px;
}

#impacto{   
    width: 90px;
}