*{ 
    margin: 0;
    padding: 0;

}
.container {    
    background-color: #3498db;
    
}
.menu{  
    height: 120px;
    background-color: rgb(39, 136, 225);
    padding-left: 30px;
    padding-right: 30px;
    
}
.logo{
    width: 90px;
}
.cabecalho{
    color: white;
    display: flex;
    margin: auto;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
h1{
    text-align: center;
    margin: 20px;
    font-weight: 500;
}
.mocap{
    width: 550px;
}

